*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    /* margin-bottom: 8rem; */
}
.app-content.contact{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
@media (max-width:600px) {
    
    section{
        /* margin-bottom: 23rem; */
    }
}