* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    position: relative;
  min-height: 100vh;
  /* border: 2px solid; */
  /* background: url(./dark\ bg.PNG); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-content {
    /* border: 5px solid red; */
  max-width: 1200px;
  width: 100%;
  /* min-height: 100vh; */
}
img{
    width: 100%;
}
header{

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    /* background: url(./white\ background.PNG); */
    width: 100%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
}
.app-content.header {
    /* border: 2px solid; */
  min-height: 10vh;
  max-width: 1200px;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.493); */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div {
  display: flex;
  align-items: center;
}
.logo img {
  width: 3rem;
  margin-top: 3px;
}
.logo p {
  font-size: 2rem;
  margin-left: 3px;
  font-weight: 600;
  color: #2E396D;
  margin-left: 1.5rem;
}
a {
  text-decoration: none;
}
nav {
  /* border: 2px solid; */
}
nav ul {
  display: flex;
  /* gap: 2rem; */
}
nav ul li{
    margin-left: 4rem;
  /* gap: 2rem; */
}
/* mobile */
nav span {
  display: none;
}
header span {
  display: none;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
}
/* -----------------main------------- */
/* ---------------hero-sectin */

/* #region */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
  min-height: 100vh;
  width: 100%;
  /* border: 2px solid; */
}
.hero-section {
  display: flex;
  margin-top: 10vh;
  /* flex-wrap: wrap; */
}
.hero-content {
  /* border: 2px solid red; */
  flex: 1 1 300px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 6vh;
}
.hero-img.mobile{
  display: none;
}
.hero-img.desktop{
  display: block;
}
/* -------------hero image--------- */
.hero-img {
  /* border: 2px solid rgb(51, 255, 0); */
  flex: 1 1 300px;
}
.hero-img img {
  width: 100%;
  height: 80%;
}

.hero-con {
  /* border: 2px solid; */
  /* max-width: 250px; */
  /* margin-top: 20vh; */
}
.hero-con h1 {
  /* word-spacing: ; */
  font-weight: bolder;
  /* font-size: xx-large; */
  font-size: 50px;
  word-spacing: 0.8rem;
  margin-top: 20%;
}
.hero-con span {
  color:  #2E396D;
}

.gen-con2 {
  /* margin-top: 3vh; */
}

.gen-con2 p {
  /* font-weight: 500; */
  font-size: 22px;
  line-height: 30px;
  word-spacing: 8px;
}
.button-box{
    height: 4rem;
    display: flex;
    gap: 1rem;
}
.button-box img{
    width: 40%;
    height: 100%;
}

/* #endregion */

/* ----------how it works------ */

/* #region */

section.hw-it-works{
    background: url('./hwItWorks/background.jpg');
}
section.hw-it-works .overlay{
    background-color: #2e386de8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-content.hw-it-works{
    /* border: 5px solid yellow; */
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.hw-it-works .overlay span.title{
    color: white;
    margin-top: 10vh;
    font-weight: 700;
    font-size: 1.2rem;
    word-spacing: 0.5vw;


}
section.hw-it-works .overlay .row{
    flex-grow: 1;
    width: 100%;
    display: flex;
    margin-top: 5vh;
}
.row .col1{
    flex: 1 1 0;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
/* ---------------box1 and 3 */
.row .col1 .box{
    /* background-color: aqua; */
}
.row .col1 .box2{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 65%;
}
.row .col2{
    flex: 2 1 0;
    /* border: 2px solid rgb(60, 255, 0); */
}
.row .col2 img{
  /* border: 2px solid; */
  animation: phoneAnime 3s ease-in-out infinite;
}
@keyframes phoneAnime {
  0%{
    transform: translateY(0vh);
  }
  50%{
    transform: translateY(5vh);
  }
}


.row .col3{
    flex: 1 1 0;
    /* border: 2px solid rgb(4, 0, 255); */
    display: flex;
    flex-direction: column;
}
/* ----box 3 nd 4 */
.row .col3 .box{
    /* background-color: aqua; */
}
.row .col3 .box2{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 65%;
}
.hw-it-works .row.col.mobile{
  display: none;
}

/* #endregion */

/* --------Why drivlink---------About-*/

/* #region */

section.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-content.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about span{
    margin-top: 10vh;
    font-weight: 700;
    font-size: 1.2rem;
    word-spacing: 0.5vw;
    color:  #2E396D;

}
.about .row{
    margin-top: 10vh;
    /* border: 2px solid blue; */
    width: 100%;
    flex-grow: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    
}
.about .row .box{
    /* border: 2px solid yellow; */
    /* border-radius: 30px; */
    flex: 1 1 300px;
    height: 30vh;
}
.about .row .box img{
  width: 100%;
  height: 100%;
}
/* #endregion */


/* ------------contact-- */
/* #region */

section.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E396D;

}
.app-content.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.box-shadow{
  /* border: 2px solid yellow; */
  width: 90%;
  background-color: white;
  /* height: 60%; */
  padding: 5%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.box-shadow .row .box2 img{
  width: 100%;
  height: 100%;
}
.contact .title{
    margin-top: 10vh;
}
.contact .row{
    width: 100%;
    display: flex;
}
.contact .row .box{
    /* border: 2px solid green; */
}
.contact .row .box1{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .row .box1 span{
  /* text = contact us */
  /* border: 2px solid; */
  width: 100%;
  /* text-align: center; */
  font-size: 2rem;
  font-weight: bolder;
}
.contact .row .box1 p{
  /* font-size: 22px; */
  margin-top: 1%;
  width: 100%;
  /* text-align: center; */
}
.contact .row .box1 form{
  /* border: 2px solid ; */
  width: 100%;
  flex-grow: 1;
}
input{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.089);
}
textarea{
  width: 100%;
  border-radius: 10px;

  outline: none;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.089);
}
form button{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  margin-top: 10px;
}
form .two-fg{
  display: flex;
  gap: 5%;
}
.form-group{
  margin-top: 10px;
}
.contact .row .box2{
    flex: 1 1 0;
}

/* #endregion */


/* ---------- download the app */

/* #region */



section.download-d-app{
    background-color:  #2E396D;
    /* rgb(46 57 109 ) */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-content.download-d-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.download-d-app .title{
    color: white;
    margin-top: 10vh;
    font-weight: 900;
    font-size: 2.5rem;
    word-spacing: 0.5vw;
}
section.download-d-app .row2{
    /* border: 2px solid; */
    width: 100%;
    max-width: 700px;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 1vw;
}
section.download-d-app .row2 img{
    width: 40%;
}
section.download-d-app .row3{
    margin-top: 3vh;
    /* border: 2px solid yellow; */
}
section.download-d-app .row3 img{
  margin-bottom: 20vh;
}
/* #endregion */


/* -------------footer */

/* #region */

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0F1024 ;
    color: white;
    /* min-height: 20vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}
footer .footer-content{
    /* border: 2px solid white; */
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    /* border: 2px solid red; */
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
}
.info .box{
    flex: 1 1 0;
}
.info .box1{
    flex-grow: 2;
}
.info .box1 span.desktop{
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
}
.info .box1 span.mobile{
  display: none;
}
.info .box1 .icon{
  display: flex;
  gap: 1.5rem;
  margin-top: 5px;
}
.info .box1 .icon a{
  display: block;
  width: 2rem;
}
.info .box2{
    display: flex;
    justify-content: space-between;
}
.info a{
    color: white;
}
.copyright{
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}
/* #endregion */












/* mobile view */
@media (max-width: 600px) {
  /* desktop */
  header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  header span{
    display: block;

  }
  header span img{
    width: 30px;
    /* background-color: azure; */

  }
  .logo p{
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  nav  {
    padding: 5vh;
    position: fixed;
    /* left: 0; */
    left: 100%;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* align-items: end; */
    /* display: none; */
    transition: all 1s;
  }
  nav.clicked{
    left: 0;
  }
  nav ul{
    /* border: 2px solid; */
    margin-top: 5vh;
    padding-right: 10vw;
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
    font-size: 22px;
    font-weight: 500;
  }
  nav span {
    display: block;
  }
  nav span img {
    /* menu-line */
    /* color: rgb(235, 18, 18); */
    /* background-color: black; */
    padding: 3px;
    border-radius: 50%;
    /* background-color: blue; */
  }

  /* ----------main-------- */

  /* #region */
  main{
    display: flex;
    flex-direction: column;
  }
  .hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
  }
  /* .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    border: 2px solid;
  } */

  .hero-con {
    /* border: 2px solid pink; */
    max-width: 450px;
    /* margin-top: 5vh; */
    margin-left: auto;
    margin-right: auto;
  }
  .hero-con h1 {
    word-spacing: 0px;
    font-weight: bolder;
    /* font-size: xx-large; */
    font-size: 35px;
    text-align: center;
    line-height: 7vh;
  }
  .gen-con2 p {
    /* font-weight: 500; */
    text-align: center;
    font-size: 20px;
    line-height: 4.7vh;
    word-spacing: 0.05vw;
    margin-top: -4vh;
  }
  .button-box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.button-box img{
    height: 100%;
    width: 40%;
}
.hero-img.desktop{
  display: none;
}
.hero-img.mobile{
  display: block;
  position: relative;
  padding: 10% 5%;
}
.hero-img.mobile img{
  height: 100%;
}
/* .hero-img.mobile .dot{

  height: 110%;
  width: 90%;
  position: absolute;
  right: 5%;
}
.hero-img.mobile .eclipse{
  border-radius: 50%;
  height: 90%;
  width: 80%;
  position: absolute;
  right: 0;
  top: 10%;
}
.hero-img.mobile .d-img{
  position: absolute;
  top: 20%;
  height: 80%;

} */

/* .eclipse{
  height: 300px;
  border: 5px solid gold;
  background: url('./heroImageBg/Ellipse\ 22.png');
  background-size:cover ;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: -40px;
} */

/* #endregion */


/* ------------------How it work----- */
.hw-it-works .row.col.mobile{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  padding-bottom: 10%;
}
.hw-it-works .row.col.mobile .col1{
  /* border: 5px solid blue; */

}
.hw-it-works .row.col.mobile .col1 .box{
  /* border: 5px solid red; */
  width: 70%;
}
.hw-it-works .row.col.mobile .col1 .box2{
  margin-left: auto;
  margin-top: 5px;
}
.hw-it-works .row.col.mobile .col3 .box{
  /* border: 5px solid red; */
  width: 70%;
}
.hw-it-works .row.col.mobile .col3 .box4{
  margin-left: auto;
  margin-top: 5px;
}

/* desktop */
.hw-it-works .row.col.desktop{
  display: none;
}
/* --------------about--Hw it work */
.about .row{
  margin-top: 5vh;
  /* border: 2px solid blue; */
  width: 100%;
  flex-grow: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 3px;
  padding: 0 5%;
  padding-bottom: 15%;
  
}
.about .row .box{
  flex: 1 1 200px;
}



/* --------------contact us-- */
.contact-img{
  display: none;
}


/* -------------------download app */
.download-d-app span{
  text-align: center;
}
.download-d-app .row3{
  /* border: 5px solid brown; */
  padding: 0 10% ;
  margin-bottom: 70%;
}
/* ---------------------footer */
footer{
  background-color: #0F1024;
}
.info{
  /* border: 2px solid red; */
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: start;
  gap: 20px;
  padding: 5%;
  /* align-items: center; */
}
.info .box1 span.desktop{
  display: none;
}
.info .box1 span.mobile{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.info .box1 span.mobile p{
  border-left: 2px solid;
  height: 100px;
  padding-left: 1rem;
  padding-top:32px;
  font-size: 2rem;
}
.info .box1 span img{
  /* width: ; */
  /* height: 1%; */
  /* border: 2px solid red; */
}
.info .box2{
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 20px;

}
.copyright{
  font-size: 15px;
}
}
