*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    border: 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;

}

.app-content{
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
}
header{
    position: fixed;
    left: auto;
    top: 0;
    z-index: 100;
    min-height: 10vh;
    max-width: 1200px;
    width: 100%;
    border: 2px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header div{
    display: flex;
    align-items: center;
}
.logo img{
    width: 2.5rem;
    margin-top: 3px;
}
.logo p{
    margin-left: 3px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
nav{
    /* border: 2px solid; */
    
}
nav ul{
    display: flex;
    gap: 2rem;
}
/* mobile */
nav span{
    display: none;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: black;
}
/* -----------------main------------- */
section{
    min-height: 100vh;
    border: 2px solid;
}
.hero-section{
    display: flex;
    margin-top: 10vh;
    /* flex-wrap: wrap; */
}
.hero-content{
    border: 2px solid red;
    flex: 1 1  300px;
}

/* hero image */
.hero-img{
    border: 2px solid rgb(51, 255, 0);
    flex: 1 1 300px;

}
.hero-img img{
    width: 100%;
}


/* mobile view */
@media (max-width:600px) {
    /* desktop */
    nav ul{
        display: flex;
        justify-content: end;
        gap: 5%;
        display: none;
    }
    nav span{
        display: block;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
}